*{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
html{
  font-size:16px;
}
li{
  list-style-type: none;

}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
.App{
  background-color: rgb(148 163 184);
}
i{
  cursor: pointer;
}